.main-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.list-desktop-view {
  @media screen and (max-width: 600px) {
    width: 100%;
    overflow: hidden;
  }
  @media screen and (min-width: 600px) {
    max-height: calc(100vh - 10rem);
    overflow: auto;
  }
}

.search-title {
  display: flex;
  color: #072227;
  .rest-icon {
    font-size: 1.4rem;
    margin-right: 0.5rem;
  }
}
.marker-wrapper {
  display: flex;
  @media screen and (max-width: 600px) {
    overflow: auto;
    flex-direction: row;
    max-width: calc(100vw - 4rem);
  }
  @media screen and (min-width: 600px) {
    flex-direction: column;
  }
}
